{% extends "base.html" %}
{% block title %}Renda Mensal{% endblock %}
{% block content %}

<div class="container mt-4">

  <!-- Título + botão Nova Renda -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h3 mb-0">Renda Mensal</h1>
    <p>Bem-vindo à seção de rendas mensais. Aqui você poderá cadastrar, editar e acompanhar suas rendas.</p>
    <a href="{% url 'rendamensal:nova_renda' %}" class="btn btn-primary btn-sm">
    + Nova Renda
    </a>
  </div>

  <!-- Filtro por mês -->
  <div class="card">
  <form method="GET">
    <label for="mes">Selecione o mês:</label>
    <select name="mes" id="mes" onchange="this.form.submit()">
      <option value="" {% if not mes_atual %}selected{% endif %}>-- Todos os meses --</option>
      {% for codigo, nome_mes in meses %}
        <option value="{{ codigo }}" {% if mes_atual == codigo %}selected{% endif %}>
          {{ nome_mes }}
        </option>
      {% endfor %}
    </select>
  </form>
</div>

<!-- Total do mês atual -->
  {% if mostrar_total_mes %}
    <div class="card mb-3">
      <div class="card-body">
        <h3 class="h6 mb-0">
          Total do mês:
          {% for codigo, nome_mes in meses %}
            {% if codigo == mes_atual %}
              {{ nome_mes }}
            {% endif %}
          {% endfor %}
        – <span class="fw-bold text-success">
            R$ {{ total_mes_atual|floatformat:2 }}
          </span>
        </h3>
      </div>
    </div>
  {% endif %}

  <!-- Lista de rendas do mês atual -->
  {% if mes_atual %}
  <!-- Quando um mês foi selecionado (ou mês atual no primeiro acesso) -->
  <h2 class="h5 mt-4">
    Rendas de
    {% for codigo, nome_mes in meses %}
      {% if codigo == mes_atual %}
        {{ nome_mes }}
      {% endif %}
    {% endfor %}
  </h2>
{% else %}
  <!-- Quando está em "Todos os meses" -->
  <h2 class="h5 mt-4">
    Histórico de todas as rendas
  </h2>
{% endif %}

<div class="card">
  <ul>
    {% for renda in rendas %}
      <li>
        {{ renda.get_mes_display }} – {{ renda.get_tipo_display }} –
        R$ {{ renda.valor|floatformat:2 }} –
        {{ renda.data_recebimento|date:"d/m/Y" }}

        {% if mostrar_botoes %}
          <div class="tabela-acoes" style="margin-left: 8px;">
            <a href="{% url 'rendamensal:editar_renda' renda.id %}?mes={{ mes_atual }}" class="btn-acao">
              Editar
            </a>
            <a href="{% url 'rendamensal:remover_renda' renda.id %}?mes={{ mes_atual }}"
               class="btn-acao btn-acao-remover"
               onclick="return confirm('Tem certeza que deseja excluir?')">
              Excluir
            </a>
          </div>
        {% endif %}
      </li>
    {% empty %}
      <li>Nenhuma renda cadastrada.</li>
    {% endfor %}
  </ul>
</div>

</div>

{% endblock %}