{% extends 'base.html' %}
{% block title %}Despesas{% endblock %}
{% load l10n %}

{% block content %}
<div class="container mt-4">

  <!-- Cabeçalho + botão -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h3 mb-0">Despesas</h1>
    <p>Bem-vindo à seção de despesas. Aqui você poderá cadastrar, editar e acompanhar suas despesas.</p>
    <a href="{% url 'despesas:nova_despesa' %}" class="btn btn-primary btn-sm">
      Nova Despesa
    </a>
  </div>

  <!-- Filtro por mês -->
  <div class="card filtro-mes-card">
    <form method="get" class="filtro-mes-form">
      <label for="mes">Selecione o mês</label>
      <select name="mes" id="mes" onchange="this.form.submit()">
        <option value="">-- Todos os meses --</option>
        {% for codigo, nome_mes in meses %}
          <option value="{{ codigo }}" {% if codigo == mes %}selected{% endif %}>
            {{ nome_mes }}
          </option>
        {% endfor %}
      </select>

      <label for="status">Filtrar por status</label>
        <select name="status" id="status" onchange="this.form.submit()">
          <option value="" {% if not status %}selected{% endif %}>Todas</option>
          <option value="pago" {% if status == 'pago' %}selected{% endif %}>Pagas</option>
          <option value="pendente" {% if status == 'pendente' %}selected{% endif %}>Pendentes</option>
        </select>
    </form>
  </div>

  {% if mes %}
    <!-- Total do mês -->
    <div class="card mb-3">
      <div class="card-body">
        <h2 class="h6 mb-0">
          Total despesas
          {% for codigo, nome_mes in meses %}
            {% if codigo == mes %}
              <strong>{{ nome_mes }}</strong>:
            {% endif %}
          {% endfor %}
          <span class="fw-bold text-success">
            R$ {{ total_mes|floatformat:2|localize }}
          </span>
        </h2>
      </div>
    </div>
  {% endif %}

    {% if mes %}
    <!-- Título quando um mês foi selecionado -->
    <h2 class="h5 mt-4">
      Despesas de
      {% for codigo, nome_mes in meses %}
        {% if codigo == mes %}
          {{ nome_mes }}
        {% endif %}
      {% endfor %}
    </h2>
  {% else %}
    <!-- Título quando está em "Todos os meses" -->
    <h2 class="h5 mt-4">Histórico de todas as despesas</h2>
  {% endif %}

  <!-- Tabela de despesas -->
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="tabela-despesas">
          <thead class="table-light">
            <tr>
              <th>Mês</th>
              <th>Nome</th>
              <th>Valor</th>
              <th>Frequência</th>
              <th>Tipo</th>
              <th>Data de Vencimento</th>
              <th>Data de Pagamento</th>
              <th>Status</th>
                {% if mostrar_botoes %}
                  <th style="width: 200px;">Ações</th>
                {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for despesa in despesas %}
            <tr>
              <td>{{ despesa.get_mes_display }}</td>
              <td>{{ despesa.nome }}</td>
              <td>R$ {{ despesa.valor }}</td>
              <td>{{ despesa.get_frequencia_display }}</td>
              <td>{{ despesa.get_tipo_display }}</td>
              <td>{{ despesa.data_vencimento }}</td>
              <td>{{ despesa.data_pagamento }}</td>
              <td>
                {% if despesa.pago %}
                  <span class="badge bg-success"><i class="bi bi-check-circle"></i></span>
                {% else %}
                  <span class="badge bg-danger"><i class="bi bi-hourglass-split"></i></span>
                {% endif %}
              </td>

              {% if mostrar_botoes %}
                <td>
                  <div class="tabela-acoes">
                    <a href="{% url 'despesas:editar_despesa' despesa.id %}?mes={{ mes }}{% if status %}&status={{ status }}{% endif %}" class="btn-acao" title="Editar"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{% url 'despesas:remover_despesa' despesa.id %}?mes={{ mes }}{% if status %}&status={{ status }}{% endif %}" class="btn-acao btn-acao-remover" title="Remover" onclick="return confirm('Tem certeza que deseja excluir?')"><i class="bi bi-trash"></i></a>
                  </div>
                </td>
              {% endif %}
            </tr>
            {% empty %}
            <tr>
              <td colspan="{% if mostrar_botoes %}9{% else %}8{% endif %}" class="text-center">
                Nenhuma despesa cadastrada.
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
{% endblock %}