<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Renda Mensal</title>
</head>
<body>
    <div>
    <h1>Renda Mensal</h1>

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Salvar</button>
    </form>

    <h2>Listagem das Rendas</h2>
        <ul>
            {% for renda in rendas %}
            <li>{{renda.mes}} - {{renda.valor}} R$</li>
            {% empty %}
            <li>Nenhum registro</li>
            {% endfor%}
        </ul>
    
    </div>
</body>
</html>