<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <h1>Lista de despesas</h1>
    <a href="{% url 'nova_despesa' %}">+ Nova Despesa</a>

    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Valor</th>
          <th>Frequencia</th>
          <th>Tipo</th>
          <th>Data de Pagamento</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
         {% for despesa in despesas %}

        <tr>
          <td>{{despesa.nome}}</td>
          <td>R$ {{despesa.valor}}</td>
          <td>{{despesa.get_frequencia_display}}</td>
          <td>{{despesa.get_tipo_display}}</td>
          <td>{{despesa.data_pagamento}}</td>
          <td>
            {% if despesa.pago %} ✅ pago {% else %} ❌ Pendente {% endif %}
          </td>
          <td>
            <a href="{% url 'editar_despesa' despesa.id %}">Editar</a>
            <a href="{% url 'remover_despesa' despesa.id %}">Remover</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">Nenhuma despesa cadastrada.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
